.chart-card {
    height: 56vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    box-sizing: border-box;
    padding-block: 1svw 3svw;
    padding-inline: 3svw;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
}

.chart-container {
    width: 100%;
    height: 100%;
}