:root{
    --background-white: #f4f4f4;
    --error-red:#cc0000;
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--background-white);
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.error-message{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 0.8rem;
    color: var(--error-red)
}
.sensor-container {
    display: grid;
    width: 100%;
    grid-template-columns: 500px 500px;
    justify-content: center; 
    align-items: center;
    gap: 20px;
}

.sensor-data {
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
