:root{
    --background-white: #f4f4f4;
    --error-red:#cc0000;
    --background-red:#800000;
    --pup-gold:#DBA729;
}

@font-face {
    font-family: "Nunito";
    src: url("../static/fonts/Nunito-Regular.ttf");
}

@font-face {
    font-family: "Antic";
    src: url("../static/fonts/Antic-Regular.ttf");
}

@font-face {
    font-family: "Aoboshi One";
    src: url("../static/fonts/AoboshiOne-Regular.ttf");
}

@font-face {
    font-family: "Assistant";
    src: url("../static/fonts/Assistant-Regular.ttf");
}

body{
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: white;
}

header {
    width: 100%;
    display: flex;
    background-color: var(--background-red);
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    font-family: "Aoboshi One", serif;
    
}

.title {
    width: 20%;
    color: var(--pup-gold);
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 1%;
}

.settings {
    width: 50%;
    display: flex;
    justify-content: end;
    gap: 8px;
    margin-right: 4%;
    color: white;
    font-family: "Antic", sans-serif;
    font-size: 1.5rem;
    
}

.date {
    font-family: Roboto;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

#location {
    margin-left: 2%;
}

.settings img {
    width: 24px;
    margin-left: 2%;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.error-message{
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0;
    text-align: center;
    font-size: 0.8rem;
    color: var(--error-red)
}
.content-container{
    width: 95%;
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.sensor-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center;
    align-items: center;
    column-gap: 10px; 
    row-gap: 10px; 
    width: 100%;
    height: calc(100vh - 150px); 
    padding: 20px;
    box-sizing: border-box;
}    
.sensor-data{
    height: 173px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 7px;
    background-color: #f5f5f5;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
}
.sensor-data > .data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30%;
    width: 100%;
}
.sensor-data > .data > .data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 80%;
}

.sensor-data > .data img {
    height: 45px;
    width: auto;
}
.data-label{
    color: black;
    font-family: "Nunito", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto 0;
}  
.data-point{
    height: auto;
    color: green;
    font-family: "Nunito", sans-serif;
    font-weight: bolder;
    font-size: 1.8rem;
    margin-left: 0;
    width: auto;
}
.sensor-data > .graph {
    height: 70%;
    width: 80%;
    background-color: gray;
}

.meter-container {
    height: 450px;
    width: 300px;
    background-color: #FFFFFF;
    border: 1px solid black;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meter-container > .ambience_meter {
    height: 28%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.meter-container > .ambience_meter p {
    height: auto;
    font-family: "Antic", sans-serif;
    font-size: 1.2rem;
    color: #000;
    margin-top: 15px;
    margin-bottom: 10px;
}

.meter-container > .ambience_meter > .meter {
    height: 35%;
    width: 85%;
    background-color: FFFFFF;
    border: 1px solid rgba(000, 000, 000, 0.50);
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.meter-container > .ambience_meter > .meter > .green {
    height: 86%;
    width: 32%;
    background-color: #30AA3C;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.meter-container > .ambience_meter > .meter > .yellow {
    height: 86%;
    width: 32%;
    background-color: #FDD901;
}

.meter-container > .ambience_meter > .meter > .red {
    height: 86%;
    width: 31%;
    background-color: #F43101;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.meter-container > .safe_meter {
    height: 20%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
}

.meter-container > .safe_meter > .safe {
    height: 40%;
    width: 38%;
    background-color: #30AA3C;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
}
.meter-container > .safe_meter > .safe > .safe_left {
    height: 100%;
    width: 49%;
    background-color: #30AA3C;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 1px solid rgba(000, 000, 000, 0.50);
}
.meter-container > .safe_meter > .safe > .safe_right {
    height: 100%;
    width: 49%;
    background-color: #30AA3C;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid rgba(000, 000, 000, 0.50);
}

.meter-container > .safe_meter p {
    font-family: "Antic";
    font-size: 1.2rem;
    color: black;
    margin-right: auto;
    margin-left: 9%;
}

.meter-container > .moderate_meter {
    height: 20%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
}

.meter-container > .moderate_meter > .moderate {
    height: 40%;
    width: 38%;
    background-color: #FDD901;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
}
.meter-container > .moderate_meter > .moderate > .moderate_left {
    height: 100%;
    width: 49%;
    background-color: #FDD901;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 1px solid rgba(000, 000, 000, 0.50);
}
.meter-container > .moderate_meter > .moderate > .moderate_right {
    height: 100%;
    width: 49%;
    background-color: #FDD901;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid rgba(000, 000, 000, 0.50);
}

.meter-container > .moderate_meter p {
    font-family: "Antic";
    font-size: 1.2rem;
    color: black;
    margin-right: auto;
    margin-left: 9%;
}

.meter-container > .dangerous_meter {
    height: 20%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
}

.meter-container > .dangerous_meter > .dangerous {
    height: 40%;
    width: 38%;
    background-color: #F43101;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
}
.meter-container > .dangerous_meter > .dangerous > .dangerous_left {
    height: 100%;
    width: 49%;
    background-color: #F43101;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 1px solid rgba(000, 000, 000, 0.50);
}
.meter-container > .dangerous_meter > .dangerous > .dangerous_right {
    height: 100%;
    width: 49%;
    background-color: #F43101;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid rgba(000, 000, 000, 0.50);
}

.meter-container > .dangerous_meter p {
    font-family: "Antic";
    font-size: 1.2rem;
    color: black;
    margin-right: auto;
    margin-left: 9%;
}

footer {
    background-color: var(--background-red);
    padding: 7px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
footer div {
    font-family: "Antic", sans-serif;
    font-size: 1rem;
    color: white;
}

.puplogo {
    width: 24px;
    margin-right: 1%;
}
