<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/pup-logo.svg') }}">
    <!--script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js"></script-->
    <script type="text/javascript" src="{{url_for('static', filename='script.js')}}" defer></script>
    <script type="text/javascript" src="{{url_for('static', filename='chartHandler.js')}}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <!--script type="text/javascript" src="{{url_for('static', filename='date-time.js')}}"></script-->
    <script type="text/javascript">
            index = {{index}}
    </script>
    <title>Ambiance</title>
</head>

<body>
    <header>
        <div class="title">AMBIANCE</div>
        <div class="settings"> 
            <div id="timedate" class="date">{{ now }}</div>
            <div id="location">{{ location }}  |</div>
            <img src="{{ url_for('static', filename='assets/settings.svg') }}">
        </div>      
    </header>
    <main>  
        <div class="error-message" id="errorValue">{{ exception }}</div> 
        <div class="chart-card">
            <div id="chart_label">
                <img id="chart_logo" src="{{ url_for('static', filename='assets/settings.svg') }}">
                <div id="label_text"></div>
            </div>
            <div class="chart-container">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </main>
    <footer>
        <div>CREATED BY: PUP-HYGEARS BATCH 2023-2024</div>
        <img 
        class="puplogo"
        src="{{ url_for('static', filename='assets/pup-logo.svg') }}"
        alt="PUP Logo">
    </footer>
</body>
</html>