<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/pup-logo.svg') }}">
    <script type="text/javascript" src="{{url_for('static', filename='script.js')}}" defer></script>
    <script type="text/javascript" src="{{url_for('static', filename='date-time.js')}}"></script>
    <title>Ambiance</title>
</head>

<body>
    <header>
        <div id= "timedate" class="date">{{ lol }}</div>
        <div class="title">AMBIANCE</div>
        <div class="settings"> 
            <img src="{{ url_for('static', filename='assets/pup-logo.svg') }}"
            alt="PUP Logo">
            <div>PUP MAIN  |</div>
            <img src="{{ url_for('static', filename='assets/settings.svg') }}">
        </div>      
    </header>
    <main>   
        <div id="timedate" class="date">{{ now }}</div>
        <div class="content-container">
            <div class="sensor-container">
                <div class="sensor-data">
                        <img src="{{ url_for('static', filename='assets/temperature.svg') }}">
                        <div class="data-container">
                            <div class="data-label">TEMPERATURE</div> 
                            <div class="data-point">{{ temperature }}</div>
                        </div>
                </div>
                <div class="sensor-data">
                        <img src="{{ url_for('static', filename='assets/pressure.svg') }}">
                        <div class="data-container">
                            <div class= "data-label">PRESSURE</div> 
                            <div class= "data-point">{{ pressure }}</div>
                        </div>
                </div>
                <div class="sensor-data">
                        <img src="{{ url_for('static', filename='assets/humidity.svg') }}">
                        <div class="data-container">
                            <div class="data-label">HUMIDITY</div>
                            <div class="data-point">{{ humidity }}</div>
                        </div>
                </div>
                <div class="sensor-data">
                        <img src="{{ url_for('static', filename='assets/gas.svg') }}">
                        <div class="data-container">
                            <div class="data-label">CARBON EMISSIONS</div>
                            <div class="data-point">{{ gas }}</div>
                        </div>
                </div>
                <div class="sensor-data">
                        <img src="{{ url_for('static', filename='assets/altitude.svg') }}">
                        <div class="data-container">
                            <div class="data-label">ALTITUDE</div>
                            <div class="data-point">{{ altitude }}</div>
                        </div>
                </div>
                <div class="sensor-data">
                        <img src="{{ url_for('static', filename='assets/TVOC.svg') }}">
                        <div class="data-container">
                            <div class="data-label">TVOC</div>
                            <div class="data-point">{{ tvoc }}</div>
                        </div>
                </div>
                <div class="sensor-data">
                        <img src="{{ url_for('static', filename='assets/eCO2.svg') }}">
                        <div class="data-container">
                            <div class="data-label">ECO2</div>
                            <div class="data-point">{{ eco2 }}</div>
                        </div>
                </div>
                <div class="sensor-data">
                        <img src="{{ url_for('static', filename='assets/raw_H2.svg') }}">
                        <div class="data-container">
                            <div class="data-label">RAW_H2</div>
                            <div class="data-point">{{ raw_h2 }}</div>
                        </div>
                </div>
                <div class="sensor-data">
                        <img src="{{ url_for('static', filename='assets/raw_Ethanol.svg') }}">
                        <div class="data-container">
                            <div class="data-label">RAW_ETHANOL</div>
                            <div class="data-point">{{ raw_ethanol }}</div>
                        </div>
                </div>                 
            </div>
            <div class="meter-container">
                <div class="ambience_meter">
                    <p>Ambience Meter</p>
                    <div class="meter">
                        <div class="green"></div>
                        <div class="yellow"></div>
                        <div class="red"></div>
                    </div>
                </div>
                <div class="safe_meter">
                    <div class="safe">
                        <div class="safe_left"></div>
                        <div class="safe_right"></div>
                    </div>
                    <p>Safe</p>
                </div>
                <div class="moderate_meter">
                    <div class="moderate">
                        <div class="moderate_left"></div>
                        <div class="moderate_right"></div>
                    </div>
                    <p>Moderate</p>
                </div>
                <div class="dangerous_meter">
                    <div class="dangerous">
                        <div class="dangerous_left"></div>
                        <div class="dangerous_right"></div>
                    </div>
                    <p>Dangerous</p>
                </div>
            </div>
        </div>
        
    </main>
    <footer>
        <div>CREATED BY: PUP-HYGEARS BATCH 2023-2024</div>
    </footer>
</body>
</html>
