<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="2">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antic&family=Aoboshi+One&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <link rel="icon" href="assets/pup-logo.svg" type="image/x-icon">  
    <title>Ambiance</title>
</head>
<body>
    <header>
        <div>AMBIANCE</div>
        <div class="settings"> </div>
            <img src="assets/settings.svg">
    </header>
    <main>  
        
        <div class="sensor-container">
            <div class="sensor-data"><div class="temp"><img src="assets/temperature.svg" alt=""></div>Temperature: <p>99.99 %</p></div>
            <div class="sensor-data"><div class="temp"><img src="assets/pressure.svg" alt=""></div>Pressure: <p>99.99 %</p></div>
            <div class="sensor-data"><div class="temp"><img src="assets/humidity.svg" alt=""></div>Humidity: <p>99.99 %</p></div>
            <div class="sensor-data"><div class="temp"><img src="assets/gas.svg" alt=""></div>Gas: <p>99.99 %</p></div>
            <div class="sensor-data"><div class="temp"><img src="assets/altitude.svg" alt=""></div>Altitude: <p>99.99 %</p></div>
            <div class="sensor-data"><div class="temp"><img src="assets/TVOC.svg" alt=""></div>TVOC: <p>99.99 %</p></div>
            <div class="sensor-data"><div class="temp"><img src="assets/eCO2.svg" alt=""></div>eCO2: <p>99.99 %</p></div>
            <div class="sensor-data"><div class="temp"><img src="assets/raw_H2.svg" alt=""></div>Raw H2: <p>99.99 %</p></div>
            <div class="sensor-data"><div class="temp"><img src="assets/raw_Ethanol.svg" alt=""></div>Raw Ethanol: <p>99.99 %</p></div>
                    
        </div>
    </main>
    <div class="slider">
            <img src="assets/slider.svg">
    </div>
    <footer>
        <div>2024 AQMS Prototype</div>
    </footer>
</body>
</html>
